{% load djblets_utils %}
{% load i18n %}
{% load tz %}
{% load reviewtags %}
   <li class="reply-comment{% if draft %} draft" id="yourcomment_{{context_id}}-{{id}}-item{% endif %}">
    <dl>
     <dt>
      <label for="{% if draft %}your{% endif %}comment_{{context_id}}-{{id}}">
      <a href="{% url user reply_user %}" class="user">{{reply_user|user_displayname}}</a>
      <span class="timestamp">{% localtime on %}{% blocktrans with timestamp as timestamp and timestamp|date:"c" as timestamp_raw %}<time class="timesince" datetime="{{timestamp_raw}}">{{timestamp}}</time> ({{timestamp}}){% endblocktrans %}{% endlocaltime %}</span>
      </label>
     </dt>
     <dd>
{% if rich_text %}
{%  definevar "rich_text_id" %}{% if draft %}your{% endif %}comment_{{context_id}}-{{id}}{% enddefinevar %}
{%  definevar "rich_text_classes" %}reviewtext rich-text{% enddefinevar %}
{%  rich_text_markdown rich_text_id rich_text_classes text %}
{% else %}
      <pre id="{% if draft %}your{% endif %}comment_{{context_id}}-{{id}}" class="reviewtext">{{text|escape}}</pre>
{% endif %}
     </dd>
    </dl>
   </li>
