{% load djblets_utils %}
{% load i18n %}
{% load tz %}

{% if rich_text %}
<pre style="display:none" id="{{text_block_id}}-raw">{{raw_text|escape}}</pre>
<script type="text/javascript">
  document.write('<pre id="{{text_block_id}}" class="{{text_block_classes}} rich-text">');
  document.write(marked(linkifyBugNumbers(linkifyReviewRequests($('#{{text_block_id}}-raw').text()))));
  document.write('</pre>');
</script>
{% else %}
<pre id="{{text_block_id}}" class="{{text_block_classes}}">{{raw_text|escape}}</pre>
{% endif %}
