{% load djblets_utils %}
{% load i18n %}
{% load tz %}
   <li class="reply-comment{% if draft %} draft" id="yourcomment_{{context_id}}-{{id}}-item{% endif %}">
    <dl>
     <dt>
      <label for="{% if draft %}your{% endif %}comment_{{context_id}}-{{id}}">
      <a href="{% url user reply_user %}" class="user">{{reply_user|user_displayname}}</a>
      <span class="timestamp">{% localtime on %}{% blocktrans with timestamp as timestamp and timestamp|date:"c" as timestamp_raw %}<time class="timesince" datetime="{{timestamp_raw}}">{{timestamp}}</time> ({{timestamp}}){% endblocktrans %}{% endlocaltime %}</span>
      </label>
     </dt>
     <dd>
{% if rich_text %}
{%   autoescape off %}
      <div style="display:none" id="reply-comment-{{context_id}}-{{id}}">{{text}}</div>
      <div id="{% if draft %}your{% endif %}comment_{{context_id}}-{{id}}" class="reviewtext rich-text">
       <script type="text/javascript">
         document.write(marked($('#reply-comment-{{context_id}}-{{id}}').html()));
         $('#reply-comment-{{context_id}}-{{id}}').remove();
       </script>
      </div>
{%   endautoescape %}
{% else %}
      <pre id="{% if draft %}your{% endif %}comment_{{context_id}}-{{id}}" class="reviewtext">{{text|escape}}</pre>
{% endif %}
     </dd>
    </dl>
   </li>
