.rich-text {
	line-height:1em;
}

.rich-text *{
	margin:0;
	padding:0;
	font:100%;
}

.rich-text table {
	font-size:inherit;
	font:100%;
}
.rich-text table th{border-bottom:1px solid #bbb;padding:.2em 1em;}
.rich-text table td{border-bottom:1px solid #ddd;padding:.2em 1em;}
.rich-text input[type=text],.rich-text input[type=password],.rich-text input[type=image],.rich-text textarea{font:99% helvetica,arial,freesans,sans-serif;}
.rich-text select,.rich-text option{padding:0 .25em;}
.rich-text optgroup{margin-top:.5em;}
/* .rich-text & Code */
.rich-text pre {
	font-size:12px;
	background-color:#eee;
	border:1px solid #ddd;
	padding:5px;
	line-height:1.5em;
	color:#444;
	overflow:auto;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;border-radius:3px;
}
.rich-text pre code {
	padding:0;
	font-size:12px;
	background-color:#eee;
	border:none;
}

.rich-text code {
	font-size:12px;
	background-color:#f8f8ff;
	color:#444;
	padding:0 .2em;
	border:1px solid #dedede;
}
/* Link & Image */
.rich-text img{border:0;max-width:100%;}
.rich-text abbr{border-bottom:none;}
.rich-text a{color:#4183c4;text-decoration:none;}
.rich-text a:hover{text-decoration:underline;}
.rich-text a code,.rich-text a:link code,.rich-text a:visited code{color:#4183c4;}
/* Headers */
.rich-text h1,.rich-text h2,.rich-text h3{margin:1em 0 .5em 0;}
.rich-text h4,.rich-text h5,.rich-text h6{margin:.7em 0 .2em 0;}
.rich-text h1,.rich-text h2,.rich-text h3,.rich-text h4,.rich-text h5,.rich-text h6{border:0;}
.rich-text h1{font-size:140%;border-top:3px solid #aaa;padding-top:.3em;}
.rich-text h1:first-child{margin-top:0;padding-top:.25em;border-top:none;}
.rich-text h2{font-size:130%;border-top:3px solid #e0e0e0;padding-top:.3em;}
.rich-text h3{font-size:120%;border-top:3px solid #eaeaea;padding-top:.3em;}
.rich-text h4{font-size:110%;}
.rich-text h5,.rich-text h6{font-size:100%;}
/* Horizontal Line */
.rich-text hr{border:1px solid #ddd;}
/* Lists */
.rich-text ul{margin:0 0 0 2.5em;}
.rich-text ol{margin:0 0 0 2.5em;}
.rich-text ul ul,.rich-text ul ol,.rich-text ol ol,.rich-text ol ul{margin-top:0;margin-bottom:0;}
.rich-text blockquote{border-left:5px solid #ddd;padding-left:.6em;color:#555;}
.rich-text dt{font-weight:bold;margin-left:1em;}
.rich-text dd{margin-left:2em;margin-bottom:1em;}
